.container3{
    background-color: #585454;
    height: 100vh;
    padding-top: 100px;
}
.content{
    background-color: #272727;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 10px 40px;
    padding-bottom: 40px;
    margin: 0 auto;
}
.row{

}
.details{
    /* border: 2px solid red; */
}
h1{

}
.overview{
    width: 80%;
}
.genres{
    /* display: flex; */
    /* justify-content: space-around; */
    /* flex-direction: column; */
    border: 1px solid #ddd;
    width: 20%;
    display: flex;
    align-items: center;
    padding-top: 15px;
    /* flex-direction: column; */
    justify-content: center;

}
.genres:hover{
    background-color: #fff;
    color: #151515;
}
.genre{
    /* display: flex; */
    /* flex-direction: column; */
}
.average{
    font-size: max(20px, 1vw);
    font-weight: 500;
}
.vote span:hover{
    color: #e8ba24;
}