.navbar-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red ; */
    margin: auto 0;
    width: 100%;
    list-style: none;
    padding: 20px 30px;
    background-color: #393939;
    color: #fff;
}
.logout{
    padding: 10px 30px;
    background-color: #4e4e4e;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}